.ant-list-header{
    color: white !important;
    border: 0px transparent !important;
}

.footer-main-page-social-icon{
    font-size: 1.5rem;
    color: #595959;
    padding-right: 5px;
}

.footer-main-page-copyright{
    text-align: center;
    color: #595959;
    padding-top: 40px;
}