.menu-item-default, menu-item-default:link, menu-item-default:visited, menu-item-default:hover, menu-item-default:active{
	border-bottom: 0px solid transparent !important;
}


.menu-item-highlight, menu-item-highlight:link, menu-item-highlight:visited, menu-item-highlight:hover, menu-item-highlight:active {
	font-weight: 700;
	border-bottom: 0px solid transparent !important;
}


.menu-item-button, menu-item-button:link, menu-item-button:visited, menu-item-button:hover, menu-item-button:active {
	border-bottom: 0px solid transparent !important;
}
